p{ 
	color:black;
	font-style:italic;
	text-align:center;
	font-family: cursive;
	font-weight:bold;

 }

 h1{

 	color:black;
 	text-align:center ;
 }

 body{

 	background-color:#E1FFA8;

 